<ion-view view-title="Relatório">
    <ion-content>
        <div class="list card" ng-hide="loading">
            <div class="item item-divider">
                <h2 class="text-center">{{item.Partner.Name}} - {{item.Partner.Cnpj}}</h2>
                <div class="row">
                    <div class="col col-50">
                        <p class="text-left">Total: {{item.Partner.total | currency}}</p>
                    </div>
                    <div class="col col-50">
                        <p class="text-right">Taxa: {{item.Partner.Fee | currency}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <p class="text-left">Pago: {{item.Partner.AmmountPaid | currency}}</p>
                    </div>
                    <div class="col col-50">
                        <p class="text-right">A pagar: {{item.Partner.AmmountMissing | currency}}</p>
                    </div>
                </div>
            </div>
            <div class="item item-divider">
                <h2 class="text-center">Lojas</h2>
            </div>
            <div class="item item-body" ng-show="item.Companies.length > 0" ng-repeat="loja in item.Companies">
                <h2 class="text-center">{{loja.Name}} - {{loja.Cnpj}}</h2>
                <div class="row">
                    <div class="col col-50">
                        <p class="text-left">Total: {{loja.Total | currency}}</p>
                    </div>
                    <div class="col col-50">
                        <p class="text-right">Taxa: {{loja.Fee | currency}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <p class="text-left">Pago: {{loja.AmmountPaid | currency}}</p>
                    </div>
                    <div class="col col-50">
                        <p class="text-right">A pagar: {{loja.AmmountMissing | currency}}</p>
                    </div>
                </div>
                <div class="item item-divider" style="border: 1px solid; border-color: #ddd;">
                    <h3 class="text-center">Ordens</h3>
                </div>
                <div class="padding" style="border: 1px solid; border-color: #ddd;" ng-repeat="ordem in loja.Orders" ng-show="loja.Orders.length > 0">
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center">{{ordem.OrderCode}} - {{ordem.Customer}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <p class="text-left">Valor devido: {{ordem.AmmountDue | currency}}</p>
                        </div>
                        <div class="col col-50">
                            <p class="text-right">Taxa: {{ordem.Fee | currency}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <p class="text-left">Pago: {{ordem.AmmountPaid | currency}}</p>
                        </div>
                        <div class="col col-50">
                            <p class="text-right">A pagar: {{ordem.AmmountMissing | currency}}</p>
                        </div>
                    </div>
                        
                </div> 
                <div class="padding" style="border: 1px solid; border-color: #ddd;" ng-hide="loja.Orders.length > 0">
                    <p class="text-center">Nenhuma ordem para esta loja</p>
                </div> 
            </div>
            <div class="item item-body" ng-hide="item.Companies.length > 0">
                <p class="text-center">Nenhuma loja cadastrada</p>
            </div>

        </div>
        <ion-spinner icon="ripple" ng-show="loading"></ion-spinner>
    </ion-content>
    
</ion-view>