<ion-view view-title="Relatório">
    <ion-content>
        <ion-list class="list">
            <ion-item class="item item-input">
                <span class="input-label">Data Inicial</span>
                <input type="date" ng-model="item.dtInit" placeholder="Data Inicial">    
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">Data Final</span>
                <input type="date" ng-model="item.dtFinal" placeholder="Data Inicial">    
            </ion-item>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="buscar()">Buscar</button>
        </div>
    </ion-content>
    
</ion-view>