<ion-modal-view>
    <ion-header-bar class="bar-positive ">
        <h1 class="title">Insira as notas</h1>
        <!--<div style="position: absolute; right: 0;">
            <button class="button button-icon icon icon ion-ios-close-empty" ng-click="closeModalNotas()"></button>
        </div>-->
    </ion-header-bar>
    <ion-content>
        <ion-list class="list">
            <ion-item class="item item-input item-stacked-label">
                <span class="input-label">Quantidade de 50,00 :</span>
                <input type="tel" class="text-right" ng-model="item.notas.cinquenta">
            </ion-item>
            <ion-item class="item item-input item-stacked-label">
                <span class="input-label">Quantidade de 20,00 :</span>
                <input type="tel" class="text-right" ng-model="item.notas.vinte">
            </ion-item>
            <ion-item class="item item-input item-stacked-label">
                <span class="input-label">Quantidade de 10,00 :</span>
                <input type="tel" class="text-right" ng-model="item.notas.dez">
            </ion-item>
            <ion-item class="item item-input item-stacked-label">
                <span class="input-label">Quantidade de 5,00 :</span>
                <input type="tel" class="text-right" ng-model="item.notas.cinco">
            </ion-item>
            <ion-item class="item item-input item-stacked-label">
                <span class="input-label">Quantidade de 2,00 :</span>
                <input type="tel" class="text-right" ng-model="item.notas.dois">
            </ion-item>
            <ion-item class="item item-input item-stacked-label">
                <span class="input-label">Quantidade de 1,00 :</span>
                <input type="tel" class="text-right" ng-model="item.notas.um">
            </ion-item>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="closeModalNotas()">Concluir</button>
        </div>
    </ion-content>
</ion-modal-view>