/* Empty. Add your own CSS if you like */

label.item.inputInvalid {
    border-left: 2px solid red;
}

label.item.inputValid {
  border-left: 2px solid blue;
}

ul.inputInvalid li {
    border-left: 2px solid red;
}

ul.inputValid li{
  border-left: 2px solid blue;
}

.color-header-card {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  min-height: 7px !important;
  color: #fff;
}

.item.item-divider-card:first-child {
  background-color: #387ef5;
}

.elastic-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 44px;
	/* Initial image height: */
	height: 300px;
}

.the-content {
	/* Same as initial image height: */
	padding-top: 300px;
}

.center-vertical {
    padding-top: 10%;
}

.bold{
    font-weight: bold;
}

div[class^="popup"] {
    overflow: hidden;
}

/* ----------------------------------------- */

.layoutTrasitionOpen {
    transition: 0.25s linear ;
    -ms-transition: 0.25s linear ;
    -webkit-transition: 0.25s linear ;
    -moz-transition: 0.25s linear ;
    transform: translateX(90%);
    -ms-transform: translateX(90%);
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
}

.layoutTrasitionClose{
    transition: 0.25s linear ;
    -ms-transition: 0.25s linear ;
    -webkit-transition: 0.25s linear ;
    -moz-transition: 0.25s linear ;
    transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
}

/* ----------------------------------------- */

span.result h1 {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    text-align: center;
}

span.result h2 {
    font-size: 4em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0px 2px 0px #ccc;
    text-align: center;
}

.item-menu{
    border: none;
    font-size: 14px;
}

.item-menu a i, .item-menu i{
    font-size: 28px !important;
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
  
}

svg{
    position: absolute;
    top: 40%;
    left: 40%;
}